/* Variables */
:root{
    --main: #163020;
    --primary: #FBFADA; /*444B8E*/
    --secondary: #ADBC9F; /*A84A7F*/
    --accent: #D864A9;
}

/* Decoration Reset */
body,p,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Base Styles */
body{
    font-family: 'Exo 2';
    background-color: var(--main);
    overflow-x: hidden;
}
.button{
    display: inline-block;
    padding: 6px 12px;
    border: 2px solid var(--accent);
    border-radius: 12px;
    color: var(--accent);
    text-transform: uppercase;
    background: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.button:hover{
    color: #021553;
    background: var(--accent);
}

/* Fonts */
@font-face{
    font-family: 'Exo 2';
    src: url(assets/fonts/Exo2-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'Roboto Mono';
    src: url(assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

section{
    margin-bottom: 50px;
}
h1,h2,h3,h4{
    font-family: 'Roboto Mono';
    color: var(--primary);
    font-weight: normal;
}
p,a,li{
    color: var(--secondary);
}
h1,h3{
    font-size: 1.3em;
}
h2{
    font-size: 2em;
}
h4{
    font-size: 1.1em;
}
.emphasis{
    font-family: 'Roboto Mono';
    font-size: 1.2em;
}

/* Mobile Styles */
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.nav-bar{
    margin: 0 20px;
}
.nav-bar ul{
    display: none;
}
.nav-bar h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--accent);
}

#welcome{
    padding: 0 20px;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-img{
    grid-column: 6/9;
}
.welcome-img img{
    width: 200%;
}
.welcome-text a{
    margin: 20px 0;
}

#about{
    padding: 40px 20px;
}
#about h3{
    padding-bottom: 10px;
    grid-column: 2/8;
    grid-row: 1;
    border-bottom: 3px solid var(--accent);
}
#about p{
    margin: 15px 0;
}
.about-text{
    grid-column: 2/8;
    grid-row: 2;
}
.google-map{
    grid-column: 2/8;
    grid-row: 3;
}
.google-map iframe{
    width: 100%;
    height: auto;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

#portfolio{
    background-image: linear-gradient(transparent, #0c1d12, transparent);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 40px 20px;
}
#portfolio h3{
    margin-bottom: 0;
    text-align: center;
}
.projects a{
    display: flex;
    grid-column: 1/9;
    margin: 20px 0;
    transition: 1s;
}
.projects a:nth-child(even){
    flex-direction: row-reverse;
}
.projects a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
}
.projects img{
    border: 2px solid var(--secondary);
    border-radius: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}
.projects a:hover{
    padding: 30px 0;
    background-color: var(--accent);
}
.projects h4{
    color: var(--secondary);
}

#skills{
    padding: 40px 20px;
    background-image: linear-gradient(transparent, #0c1d12, transparent);
}
#skills h3{
    text-align: center;
}
#skills ul{
    margin: 40px 0;
}
#skills li{
    padding: 10px;
    grid-column: span 4;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}
#skills img{
    height: 60px;
    margin: 10px auto;
}

footer{
    padding: 30px 20px;
    background-color: #102718;
}
footer .copyright{
    grid-column: 1/3;
    font-size: 0.8em;
}
footer .contact{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
}

footer li{
    margin: 0 6px;
}

footer img{
    width: 40px;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px){

}

/* Large Tablet & Laptop Styles */
@media screen and (min-width: 960px){
    
}

/* Desktop Styles */
@media screen and (min-width: 1200px){
    
}